main {
    display: flex;
    flex-direction: row;
}

main>div:first-child {
    /* width: 45vw; */
    width: 90vw;
}

#barWrapper {
    width: 100%;
    flex-grow: 1;
    min-height: 80vh;
    background-color: #303f54;
}

#rangeInputs {
    padding: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.rangeRow {
    display: flex;
    flex-direction: row;
    width: 20vw;
}

.rangeRow span {
    margin-right: 1vw;
}

/*Slider*/

.sliderContainer {
    width: 100%;
    text-align: center;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #ddd;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--primary);
    cursor: pointer;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
}

.slider::-webkit-slider-thumb:hover {
    background: var(--primaryShade);
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--primary);
    cursor: pointer;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
}

.slider::-moz-range-thumb:hover {
    background: var(--primaryShade);
}

.slider::-ms-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--primary);
    cursor: pointer;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
}

.slider::-ms-thumb:hover {
    background: var(--primaryShade);
}

.slider-track {
    position: relative;
    height: 10px;
}

.slider-track .slider-fill {
    position: absolute;
    height: 100%;
    background: var(--primary);
    border-radius: 5px;
    z-index: 1;
}

/* Stock List/Options */

#stockContainer {
    display: flex;
    flex-wrap: wrap;
    /* width: 40%; */
    justify-content: center;
    flex-grow: 3;
}

stock-option {
    margin: 0.5vw;
    padding: 1em;
    background-color: oklch(var(--bc));
    color: black;
    border-radius: 1em;
    width: 18%;
}

stock-option>#stockName {
    font-size: large;
}

stock-option>#stockName>span {
    font-weight: bold;
}

stock-option div {
    display: flex;
    justify-content: space-around;

}

stock-option button {
    border: 2px solid black !important;
}

stock-option>#stockValue {
    font-weight: bold;
}