<nav class="navbar" id="navHeader">
    <a href="/" class="navbar-title">Broader Briefing File</a>
    <div class="navbar-links menu" id="topNav">
        <a href="/">Home</a>
        <a href="/canon">Canon</a>
        <a href="/investing">Investing</a>
        <a href="/ocmaker">OC Maker v1</a>
        <a href="/ocmaker2">OC Maker v2</a>

        <div class="navbar-profile">
            <img src="/images/NavbarProfilePicture.png" alt="Profile" />
        </div>

        <ul tabindex="0"
            class="mt-3 z-[1] p-2 shadow menu menu-sm dropdown-content bg-base-100 text-base-content rounded-box w-52"
            id="profileDropdownList">
        </ul>
    </div>
</nav>

<!-- Login Modal -->
<dialog id="loginModal" class="modal">
    <div class="modal-container">
        <div class="modal-box">
            <form>
                <h3>Login</h3>
                <hr />
                <label>
                    <span>Username</span>
                    <input type="text" id="usernameInput" placeholder="Username" autocomplete="username" />
                </label>
                <label>
                    <span>Password</span>
                    <input type="password" id="passwordInput" placeholder="Password" autocomplete="current-password" />
                </label>
                <button id="modalLoginButton" class="btn btn-primary">Login</button>
                <hr />
                <ul>
                    <li id="loginRule1">Username must be between 3 and 20 characters</li>
                    <li id="loginRule2">Password must be between 6 and 30 characters</li>
                    <li id="loginRule3">Username shouldn't be Profane</li>
                </ul>
            </form>
            <form method="dialog" class="modal-backdrop">
                <button class="btn btn-error">Close</button>
            </form>
        </div>
    </div>
</dialog>

<!-- Register Modal -->
<dialog id="registerModal" class="modal">
    <div class="modal-container">
        <div class="modal-box">
            <form>
                <h3>Register</h3>
                <hr />
                <label>
                    <span>Username</span>
                    <input type="text" id="usernameInputRegister" placeholder="Username" autocomplete="username" />
                </label>
                <label>
                    <span>Password</span>
                    <input type="password" id="passwordInputRegister" placeholder="Password"
                        autocomplete="new-password" />
                </label>
                <button id="modalRegisterButton" class="btn btn-primary">Register</button>
                <hr />
                <ul>
                    <li id="registerRule1">Username must be between 3 and 20 characters</li>
                    <li id="registerRule2">Password must be between 6 and 30 characters</li>
                    <li id="registerRule3">Username shouldn't be Profane</li>
                </ul>
            </form>
            <form method="dialog" class="modal-backdrop">
                <button class="btn btn-error">Close</button>
            </form>
        </div>
    </div>
</dialog>
