:root {
    --primary: #00bd8b;
    --primaryShade: #057b5c;
    --navSelected: #4bb79a;
    --pink: #F11EA8;
}

@font-face {
    font-family: Barbie;
    src: Arial, url("./fonts/Bartex.ttf");
    font-display: swap;
}

@font-face {
    font-family: Mario;
    src: Arial, url("./fonts/MARIOMAKER.otf");
    font-display: swap;
}

#navHeader {
    font-family: Barbie;
    letter-spacing: 3px;
    text-wrap: nowrap;
}

#navHeader, #topNav a {
    color: #FEFEFE;
    text-shadow:
        0.05em 0.05em 0 var(--pink),
        0.065em 0.06em 0 var(--pink),
        0.08em 0.07em 0 var(--pink),
        0.095em 0.08em 0 var(--pink),
        0.11em 0.09em 0 var(--pink),
        0.125em 0.10em 0 var(--pink),
        0.14em 0.11em 0 var(--pink),
        0.155em 0.12em 0 var(--pink),
        0.17em 0.13em 0 var(--pink),
        0.185em 0.14em 0 var(--pink),
        0.20em 0.15em 0 var(--pink);
}

#hamburgerPath {
    filter: drop-shadow(0.2em 0.2em 0px var(--pink));
}

.menu>li {
    font-family: Mario;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    /* background-image: url("./images/StripedImage.png");
    background-size: 1%; */
    /* background: repeating-linear-gradient(-45deg,
            #111,
            #111 5px,
            #47586c 5px,
            #47586c 12.5px); */
    font-weight: bold;
    margin-top: 1vh;
}

footer p {
    text-shadow: 0px 0px 0.4em rgba(0, 0, 0, 1);
}

/* Navbar */
#hamburgerIcon:hover {
    transform: rotate(-10deg);
    background-color: oklch(var(--su));
}

#navSidebarList a:hover {
    background-color: oklch(var(--su));
    color: black;
}

#navHeader:hover {
    background-color: oklch(var(--su));
    transform: rotate(-3deg);
}

#topNav a:hover {
    background-color: oklch(var(--su));
    transform: rotate(-10deg);
}

#topNav a::before, #navbarPfpContainer::before, .navSelected::before, #navHeader:hover::before, #hamburgerIcon::before {
    content: '';
    position: absolute;
    bottom: 20%;
    left: 0%;
    right: 0;
    width: 100%;
    height: 75%;
    background-image: url("./images/HoverEffect.png");
    background-position: center;
    background-size: 100% 90%;
    background-repeat: no-repeat;
    opacity: 0;
}

#topNav a:hover::before, #navbarPfpContainer:hover:hover::before, .navSelected::before, #hamburgerIcon:hover:hover::before {
    opacity: 1.0;
    mix-blend-mode: screen;
}

#navHeader:hover::before {
    opacity: 1.0;
    mix-blend-mode: screen;
    /* transform: rotate(5deg); */
}

.navLinks {
    font-weight: bold;
}

header .drawer-side {
    z-index: 3;
}

#profileDropdownList {
    z-index: 5;
}

/* Other */

@keyframes move-background-vertical {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 0% 100%;
    }
}

@keyframes move-background-horizontal {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 100% 0%;
    }
}

main::before {
    content: '';
    background-image: radial-gradient(circle, transparent 75%, oklch(var(--b1))),
        linear-gradient(to bottom, rgba(0, 0, 0, 0) 95%, oklch(var(--b1))),
        url("./images/Favicon.ico");
    background-size: 5%;
    opacity: 0.09;
    position: absolute;
    left: 50%;
    top: 0px;
    translate: -50% 0%;
    z-index: -1;
    height: 100%;
    width: 100%;
    animation: move-background-vertical 180s linear infinite;
    will-change: background-position;
}

main::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: linear-gradient(to right, oklch(var(--b1)) 0%, transparent 50%, oklch(var(--b1)) 100%);
}

main {
    z-index: 2;
    min-height: 83.5vh;
    width: 100%;
    padding: 0.5%;
    position: relative;
}

footer {
    clip-path: polygon(0% 20%, 2.5% 0%, 5% 20%,
            7.5% 0%, 10% 20%, 12.5% 0%,
            15% 20%, 17.5% 0%, 20% 20%,
            22.5% 0%, 25% 20%, 27.5% 0%,
            30% 20%, 32.5% 0%, 35% 20%,
            37.5% 0%, 40% 20%, 42.5% 0%,
            45% 20%, 47.5% 0%, 50% 20%,
            52.5% 0%, 55% 20%, 57.5% 0%,
            60% 20%, 62.5% 0%, 65% 20%,
            67.5% 0%, 70% 20%, 72.5% 0%,
            75% 20%, 77.5% 0%, 80% 20%,
            82.5% 0%, 85% 20%, 87.5% 0%,
            90% 20%, 92.5% 0%, 95% 20%,
            97.5% 0%, 100% 20%,
            100% 100%, 0% 100%);
}


.iframe-container {
    width: 100%;
    height: 90vh;
}

iframe {
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0.5%;
    /* Remove default iframe border */
}

#navbarPfp {
    width: 5vw;
    /* filter: drop-shadow(0.05em 0.05em 0px var(--pink)) drop-shadow(0.05em 0.05em 0px var(--pink)) drop-shadow(0.03em 0.03em 0px var(--pink)); */
}

#navbarPfp:hover {
    border-radius: 25%;
}

#navbarPfpContainer:hover {
    transform: rotate(-20deg);
    background-color: oklch(var(--su));
}

#navbarPfpContainer {
    transition: transform 0.3s;
}

.toastParent {
    z-index: 10000;
}

.alert-outline {
    border: 2px solid black;
    box-shadow: -0.2em 0.2em 0.1em rgba(0, 0, 0, 0.5);
}

main .btn:hover {
    box-shadow: -0.0 0.0 0.2em rgba(0, 0, 0, 1);
    scale: 103%;
}

#globalToastContainer>* {
    z-index: inherit;
}

#globalToastContainer>div {
    opacity: 1;
    transform: translateY(100px);
    animation: slide-up 1s ease-out forwards;
    margin-bottom: 1vh;
}

@keyframes slide-up {
    to {
        transform: translateY(0);
    }
}

/* For Blocked off Areas */
#loggedInArea {
    position: relative;
    min-width: 25vw;
    min-height: 25vh;
}

#loggedInArea:not(.blockedArea)>#loggedInContainer {
    display: none;
}

#loggedInContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    color: oklch(var(--er));
    background-color: oklch(var(--sc));
    z-index: 100;
}

#loggedInArea.blockedArea>#loggedInContainer>#notLoggedInText {
    font-weight: bold;
}

#loggedInArea.blockedArea {
    display: block;
}