@media (max-width: 575.98px) {
    #topNav > a {
        display: none;
    }

    .navbar-title {
        max-width: 80vw;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    #topNav > a {
        display: none;
    }    
}

@media (min-width: 768px) and (max-width: 991.98px) {
    /* Your CSS rules for medium devices */
    #topNav > a {
        display: none;
    }

    .navbar-title {
        text-wrap: wrap;
    }
}
