<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Canon</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='./styles.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='./index.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='./query.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='./canon/styles.css'>
    <script>
        let loggedIn = <%= auth.loggedIn %>
    </script>
</head>

<body>
    <div class="toast toast-end toastParent">
        <div id="globalToastContainer">
        </div>
    </div>
    <header id="header">
        <%- include("../partials/header"); %>
    </header>

    <main class="text-center items-center flex flex-col">
        <div id="searchbar">
            <input type="text" class="grow" placeholder="Search" id="searchInput" />
            <img src="./images/search.png" />
        </div>
        <br />
        <div class="characterContainer" id="cardContainer">
            <a href="/character?id=0">
                <char-card class="btn btn-outline btn-info">
                    <p class="name">Masafumi Shinoda</p>
                </char-card>
            </a>
        </div>
    </main>

    <%- include("../partials/footer") %>

    <script type="module">
        document.addEventListener('DOMContentLoaded', () => {
            document.getElementById("canonNav").classList.add("navSelected");
        });
    </script>
    <script src='./main.js' type="module"></script>
    <script src='./character/character.js' type="module"></script>
    <script src='./character/rankings.js' type="module"></script>
    <script src='./canon/script.js' type="module"></script>
</body>

</html>