<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Character</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='./styles.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='./index.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='./query.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='./character/styles.css'>
    <script>
        let loggedIn = <%= auth.loggedIn %>
    </script>
</head>

<body>
    <div class="toast toast-end toastParent">
        <div id="globalToastContainer">
        </div>
    </div>
    <header id="header">
        <%- include("../partials/header"); %>
    </header>

    <main class="text-center items-center">
        <div class="text-center items-center" id="bbfContainer">
            <object data="./images/Emblem.svg" type="image/svg+xml" id="emblem">
                <img src="./images/Emblem.svg" />
            </object>
            <div id="characterNameContainer">
                <h1 class="text-4xl" id="characterName"></h1>
            </div>
            <div class="chart-container">
                <canvas id="radarChart"></canvas>
                <p id="total">TOTAL <span id="totalNumber" class="text-2xl">65</span></p>
            </div>
            <div id="subTriggerContainer">
                <p class="text-xl font-bold" style="flex-grow:0;"><span class="mainSubText">SUB</span> TRIGGER <span
                        class="japanese">サブトリガー</span></p>
                <trigger-block style="flex-grow:1;" id="subTrigger1">
                    <div class="triggerImage">
                        <img src="" id="sub1Image" />
                    </div>
                    <p class="triggerType" id="sub1Type">DEFENSE TRIGGER</p>
                    <p class="triggerName" id="sub1Name">SHIELD</p>
                </trigger-block>
                <trigger-block style="flex-grow:1;" id="subTrigger2">
                    <div class="triggerImage">
                        <img src="" id="sub2Image" />
                    </div>
                    <p class="triggerType" id="sub2Type">DEFENSE TRIGGER</p>
                    <p class="triggerName" id="sub2Name">SHIELD</p>
                </trigger-block>
                <trigger-block style="flex-grow:1;" id="subTrigger3">
                    <div class="triggerImage">
                        <img src="" id="sub3Image" />
                    </div>
                    <p class="triggerType" id="sub3Type">DEFENSE TRIGGER</p>
                    <p class="triggerName" id="sub3Name">SHIELD</p>
                </trigger-block>
                <trigger-block style="flex-grow:1;" id="subTrigger4">
                    <div class="triggerImage">
                        <img src="" id="sub4Image" />
                    </div>
                    <p class="triggerType" id="sub4Type">DEFENSE TRIGGER</p>
                    <p class="triggerName" id="sub4Name">SHIELD</p>
                </trigger-block>
            </div>
            <div id="mainTriggerContainer">
                <p class="text-xl font-bold" style="flex-grow:0;"><span class="mainSubText">MAIN</span> TRIGGER <span
                        class="japanese">メイントリガー</span></p>
                <trigger-block style="flex-grow:1;" id="mainTrigger1">
                    <div class="triggerImage">
                        <img src="" id="main1Image" />
                    </div>
                    <p class="triggerType" id="main1Type">DEFENSE TRIGGER</p>
                    <p class="triggerName" id="main1Name">SHIELD 1</p>
                </trigger-block>
                <trigger-block style="flex-grow:1;" id="mainTrigger2">
                    <div class="triggerImage">
                        <img src="" id="main2Image" />
                    </div>
                    <p class="triggerType" id="main2Type">DEFENSE TRIGGER</p>
                    <p class="triggerName" id="main2Name">SHIELD 2</p>
                </trigger-block>
                <trigger-block style="flex-grow:1;" id="mainTrigger3">
                    <div class="triggerImage">
                        <img src="" id="main3Image" />
                    </div>
                    <p class="triggerType" id="main3Type">DEFENSE TRIGGER</p>
                    <p class="triggerName" id="main3Name">SHIELD 3</p>
                </trigger-block>
                <trigger-block style="flex-grow:1;" id="mainTrigger4">
                    <div class="triggerImage">
                        <img src="" id="main4Image" />
                    </div>
                    <p class="triggerType" id="main4Type">DEFENSE TRIGGER</p>
                    <p class="triggerName" id="main4Name">SHIELD 4</p>
                </trigger-block>
            </div>
            <div id="detailsContainer">
                <ul id="detailsList">
                    <li class="text-xs" id="position">POSITION: </li>
                    <li class="text-xs" id="age">AGE: </li>
                    <li class="text-xs" id="birthday">BIRTHDAY: </li>
                    <li class="text-xs" id="height">HEIGHT: </li>
                    <li class="text-xs" id="bloodType">BLOOD TYPE: </li>
                    <li class="text-xs" id="zodiac">ZODIAC: </li>
                    <li class="text-xs" id="occupation">OCCUPATION: </li>
                    <li class="text-xs" id="likes">LIKES: </li>
                </ul>
            </div>
        </div>
    </main>

    <%- include("../partials/footer") %>
    <script src='./main.js' type="module"></script>
    <script src='./character/character.js' type="module"></script>
    <script src='./character/rankings.js' type="module"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="./character/characterLogic.js" type="module"></script>
</body>

</html>