<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="./styles.css">
    <link rel="stylesheet" href="./index.css">
    <link rel='stylesheet' type='text/css' media='screen' href='./query.css'>
    <script>
        let loggedIn = <%= auth.loggedIn %>;
    </script>
</head>

<body>
    <!-- Toast container -->
    <div class="toast toast-end toastParent">
        <div id="globalToastContainer"></div>
    </div>

    <!-- Header -->
    <header id="header">
        <%- include("../partials/header"); %>
    </header>

    <!-- Main hero section -->
    <main class="hero">
        <div class="hero-content">
            <img src="https://static.wikitide.net/worldtriggerwiki/f/fd/Border_Emblem.png" alt="Emblem" />
            <div class="hero-text">
                <h1>Broader Briefing File</h1>
                <p>A collection of projections by and for <i>World Trigger</i> fans.</p>
                <a href="./investing">
                    <img src="./images/startImage.png" />
                </a>
            </div>
        </div>
    </main>

    <!-- Footer -->
    <footer>
        <%- include("../partials/footer"); %>
    </footer>

    <script type="module">
        document.addEventListener('DOMContentLoaded', () => {
            document.getElementById("homeNav").classList.add("navSelected");
        });
    </script>
    <script src='main.js' type="module"></script>
</body>

</html>