<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Investing</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='./styles.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='./query.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='./index.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='./investing/styles.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='./investing/query.css'>
    <script>
        let loggedIn = <%= auth.loggedIn %>;
    </script>
</head>

<body>
    <div class="toast toast-end toastParent">
        <div id="globalToastContainer">
        </div>
    </div>
    <header id="header">
        <%- include("../partials/header") %>
    </header>

    <main class="text-center center flex flex-col">
        <div class="m-auto">
            <a href="/leaderboard"><button class="btn btn-primary mb-1">Leaderboard</button></a>
            <div id="barWrapper">
                <canvas id="barGraph"></canvas>
            </div>
            <section id="rangeInputs">
                <div class="rangeRow">
                    <span class="rangeValues" id="minRangeDisplay">257</span>
                    <div class="sliderContainer">
                        <input value="257" min="257" max="242" step="1" type="range" id="minRange" class="slider" />
                    </div>
                </div>
            </section>
        </div>
        <div id="loggedInArea" class="blockedArea">
            <div id="loggedInContainer">
                <a href="#navbarPfp" onclick="document.getElementById('loginModal').showModal()">
                    <h1 id="notLoggedInText">Must be Logged In</h1>
                </a>
            </div>
            <div class="flex flex-row center w-100">
                <button class=" btn btn-primary mb-2" id="hideAllStocks">Hide All Stocks</button>
                <button class=" btn btn-primary mb-2" id="showAllStocks">Show All Stocks</button>
                <button class=" btn btn-primary mb-2" id="toggleOwnedStocks">Toggle Owned Stocks</button>
                <button class=" btn btn-primary mb-2" id="toggleUnownedStocks">Toggle Unowned Stocks</button>
            </div>
            <p class="text-4xl">Balance: $<span id="balanceText">0</span></p>
            <div class="join flex flex-col center">
                <label class="">Buy/Sell Count: </label>
                <div class="rangeRow m-auto">
                    <span class="rangeValues ml-2 w-10" id="buySellDisplay">1</span>
                    <div class="sliderContainer">
                        <input value="1" min="1" max="50" step="1" type="range" id="buyCount" class="slider" />
                    </div>
                </div>
            </div>
            <div id="stockContainer" class="mb-2"></div>

            <div class="alert alert-warning m-auto text-center mb-2">
                <p>Sell value is $1 less than the buy value.</p>
            </div>
            <div class="alert alert-warning m-auto text-center">
                <p>Price changes every 5 stocks so value seen may not be accurate.</p>
            </div>
        </div>
    </main>

    <%- include("../partials/footer") %>
    <script src='./main.js' type="module"></script>
    <script type="module">
        document.addEventListener('DOMContentLoaded', () => {
            document.getElementById("investingNav").classList.add("navSelected");
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src='./investing/script.js' type="module"></script>
</body>

</html>