<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>OC Maker v2</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='./styles.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='./query.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='./index.css'>
    <script>
        let loggedIn = <%= auth.loggedIn %>;
    </script>
</head>

<body>
    <div class="toast toast-end toastParent">
        <div id="globalToastContainer">
        </div>
    </div>
    <header id="header">
        <%- include("../partials/header") %>
    </header>

    <main>
        <div class="iframe-container">
            <iframe src="https://emperorbob7.github.io/ocmaker2/"></iframe>
        </div>
    </main>

    <script src='./main.js' type="module"></script>
    <script type="module">
        document.addEventListener('DOMContentLoaded', () => {
            document.getElementById("ocMaker2Nav").classList.add("navSelected");
        });
    </script>
</body>

</html>